server:
  port: 8081 # As defined in your Service Matrix

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://localhost:3306/muscledia
    username: springstudent
    password: springstudent
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # Or create, create-drop, validate depending on your needs
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

    # Jackson Configuration to handle Long precision issues
  jackson:
    generator:
      write-numbers-as-strings: false # Keep this false to only target specific fields
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: NON_NULL

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka # Point to Eureka Server